.table-container {
    max-height: calc(100vh - 200px);
    /* Đặt kích thước cố định cho phần body của bảng */
}

.table-container table thead {
    position: sticky;
    /* Làm cho phần tiêu đề của bảng cố định */
    top: 0;
    /* Đặt phần tiêu đề cố định ở trên cùng */
    z-index: 1;
    /* Đảm bảo phần tiêu đề được hiển thị trên cùng */
    background-color: #fff;
    /* Màu nền của phần tiêu đề */
}